<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnityLauncherPro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <UnityLauncherPro.Properties.Settings>
            <setting name="windowWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="windowHeight" serializeAs="String">
                <value>650</value>
            </setting>
            <setting name="rootFolders" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>C:\Program Files\</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="minimizeToTaskbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="registerExplorerMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="closeAfterProject" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="closeAfterExplorer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showArgumentsColumn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showGitBranchColumn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showProjectsMissingFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowSingleInstanceOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="preferredVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="newProjectsRoot" serializeAs="String">
                <value />
            </setting>
            <setting name="askNameForQuickProject" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableProjectRename" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="streamerMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showTargetPlatform" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="webglBuildPath" serializeAs="String">
                <value />
            </setting>
            <setting name="useCustomTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="themeFile" serializeAs="String">
                <value>theme.ini</value>
            </setting>
            <setting name="enablePlatformSelection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="runAutomatically" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useCustomLastModified" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="customDateFormat" serializeAs="String">
                <value>dd/MM/yyyy HH:mm:ss</value>
            </setting>
            <setting name="useHumandFriendlyLastModified" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="runAutomaticallyMinimized" serializeAs="String">
                <value>False</value>
            </setting>
        </UnityLauncherPro.Properties.Settings>
    </userSettings>
</configuration>